.about {
	@include reset-list;
	display: flex;
	padding: 0 57px 44px 20px;
}

@media (min-width: $width-large-desktop) {
	.about {
		padding-left: 60px;
	}
}

.about__item + .about__item {
	margin-left: 24px;
}

@media (min-width: $width-large-desktop) {
	.about__item + .about__item {
		margin-left: 93px;
	}
}

.about__item--information br {
	display: none;
}

@media (min-width: $width-tablet) {
	.about__item--information {
		max-width: 50%;
	}
}

@media (min-width: $width-large-desktop) {
	.about__item--information {
		max-width: 492px;
	}

	.about__item--information br {
		display: block;
	}
}
