.card {
	background-color: $white;

	&--inteko {
		margin-right: 20px;
		padding: 39px 22px 42px 20px;
	}

	&--nowadays {
		margin-right: 20px;
		padding: 29px 35px 30px 20px;
	}

	&--projects,
	&--employees {
		position: relative;
		margin-left: 20px;
		transform: translateY(-28px);
		z-index: 2;
	}

	&--projects {
		padding: 28px 35px 26px 20px;
	}

	&--staff {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 36px 21px 46px 20px;
	}

	&--employees {
		padding: 33px 20px 34px 20px ;
	}
}

@media (min-width: $width-desktop) {
	.card {
		&--inteko {
			width: 44%;
			padding: 55px 38px 57px 59px;
		}

		&--projects {
			position: absolute;
			right: 0;
			top: 36px;
			width: 37.6%;
			transform: none;
			padding: 63px 65px 61px 51px;
		}

		&--nowadays {
			width: 37.6%;
			margin-top: 92px;
			padding: 68px 43px 65px 59px;
		}

		&--employees {
			position: absolute;
			right: 0;
			top: 0;
			width: 37.6%;
			transform: translateY(-50px);
			padding: 48px 64px 63px 49px;
		}
	}
}

.card__title {
	margin: 0;
}

.card__subtitle {
	margin: 0;
	font-size: 14px;
	line-height: 20px;

	&--staff::after {
		content: "";
		display: block;
		width: 100%;
		height: 3px;
		background: linear-gradient(to right, $blue 4%, $white 4% 6%, $blue 6% 10%, $white 10% 12%, $blue 12% 20%, $white 20% 22%, $blue 22% 35%, $white 35% 37%, $blue 37% 50%, $white 50% 52%, $blue 52%);
	}
}

@media (min-width: $width-desktop) {
	.card__subtitle {
		font-size: 18px;
		line-height: 26px;
	}
}

.card__list {
	@include reset-list;
}

.card__list li {
	position: relative;
	padding-left: 20px;
}

.card__list li::before {
	content: "";
	position: absolute;
	display: inline-block;
	height: 1px;
	width: 15px;
	left: 0;
	top: 9px;
	background-color: $violet;
}

@media (min-width: $width-desktop) {
	.card__list {
		line-height: 24px;
	}

	.card__list--employees li + li {
		margin-top: 10px;
	}
}
