.main {
	@include container;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: black;
}

@media (min-width: $width-desktop) {
	.main {
		font-size: 16px;
	}
}

.main a {
	text-decoration: none;
}

.main__link-wrapper {
	margin-top: 20px;
}

@media (min-width: $width-desktop) {
	.main__link-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 80px 60px 40px 60px;
	}
}

.main__link {
	display: inline-block;
	&--earth {
		display: none;
	}
}

@media (min-width: $width-desktop) {
	.main__link--earth {
		display: inline-block;
	}
}

.main img {
	display: block;
}


.main__inner {
	margin-top: 30px;
  background-color: $beige;
}

.main__list {
  @include reset-list;
}

.main__item {
	background-repeat: no-repeat;

	&--inteko {
		padding-top: 134px;
		background-image: url("../img/inteko_mobile.jpg");
		background-position: top right;
	}

	&--inteko,
	&--projects,
	&--nowadays,
	&--employees {
		position: relative;
	}

	&--nowadays {
		padding-bottom: 144px;
		background-image: url("../img/nowadays_mobile.jpg");
		background-position: bottom 10px right;
	}

	&--inteko::before,
	&--projects::before,
	&--nowadays::before,
	&--employees::before {
		content: "";
		position: absolute;
		top: 0;
		left: 10px;
		height: 100%;
		width: 1px;
		background-color: $gray;
	}

	&--nowadays::before {
		top: auto;
		bottom: 0;
		height: 300px;
	}

	&--projects::after,
	&--nowadays::after {
		content: "";
		position: absolute;
		left: 10px;
		bottom: 0;
		height: 1px;
		width: calc(100% - 10px);
		background-color: $gray;
	}

	&--employees::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 1px;
		width: 10px;
		background-color: $gray;
	}
}

@media (min-width: $width-desktop) {
	.main__item--inteko {
		min-height: 570px;
		padding-top: 65px;
		background-image: url("../img/inteko_desktop.jpg");
	}

	.main__item--nowadays {
		min-height: 767px;
		background-image: url("../img/nowadays_desktop.jpg");
	}

	.main__item--employees {
		padding-bottom: 288px;
	}

	.main__item {
		&--inteko::before,
		&--projects::before,
		&--nowadays::before,
		&--employees::before {
			left: 298px;
		}

		&--inteko::after {
			content: "";
			position: absolute;
			left: 298px;
			bottom: 100%;
			width: 1px;
			height: 100px;
			background-color: $gray;
		}

		&--projects::after,
		&--nowadays::after {
			left: 298px;
			width: calc(100% - 298px);
		}

		&--employees::after {
			width: 298px;
		}
	}
}

.main__block-content {
	padding: 39px 26px 28px 30px;
}

@media (min-width: $width-desktop) {
	.main__block-content {
		max-width: 703px;
		margin-left: 330px;
		padding: 104px 0 59px 0;
	}
}

.main__winners {
	margin: 0;
	padding: 29px 23px 42px 20px;
}

@media (min-width: $width-desktop) {
	.main__winners {
		margin-left: 330px;
		padding: 57px 0 50px 0;
	}
}
