.slider--projects,
.slider--employees {
	margin-right: 20px;
}

@media (min-width: $width-desktop) {
	.slider--projects {
		//width: 73.6%;
		margin: 0;
	}
}

.slider--staff {
	margin-left: 20px;
}

@media (min-width: $width-desktop) {
	.slider--staff {
		margin-left: 60px;
	}
}

.slider__slide {
	height: auto;
}

.slider__pagination--image {
	transform: translateY(-40px);
}

.slider__pagination-bullet {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin-left: 10px;
	background-color: $white;
	cursor: pointer;

	&--staff {
		display: inline-block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		margin-left: 10px;
		background-color: $light-blue;
		cursor: pointer;
	}

	&--active {
		width: 10px;
		height: 10px;
		transform: translateY(2px);
	}
}

@media (min-width: $width-desktop) {
	.slider__pagination {
		display: none;
	}
}

.slider__button {
	display: none;
}

@media (min-width: $width-desktop) {
	.slider__button {
		display: block;
	}
}
