.title {
	margin: 0 0 14px 0;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	color: $blue;

	&--nowadays {
		margin-left: 18px;
	}

	&--staff {
		margin: 46px 25px 27px 21px;
	}

	&--employees {
		margin: 0 50px 28px 31px;
	}
}

@media (min-width: $width-large-desktop) {
	.title {
		font-size: 32px;
		line-height: 38px;
		margin-bottom: 16px;

		&--nowadays {
			margin-left: 60px;
		}

		&--staff {
			margin: 42px 0 54px 61px;
		}

		&--employees {
			margin: 23px 0 101px 330px;
		}
	}
}
